* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  color: #fff;
  border: none;
}

.wrapper {
  margin: 0 auto;
  width: 900px;
  display: flex;
  justify-content: center;
}

p {
  font-size: 16px;
  line-height: 24px;
}

h4 {
  font-size: 22px;
  color: #1e1e1e;
  line-height: 32px;
}

header {
  padding: 30px 15px 30px;
  width: 100%;
  height: 80px;
  background-color: #161616;
}

ul,
li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #fff;
}

header nav {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
}

header nav h3 {
  font-size: 22px;
  font-weight: 600;
}

header nav div {
  display: flex;
  justify-content: flex-start;
}

input {
  padding: 5px;
  margin: 5px 0 5px;
  border: 1px solid lightgray;
  border-radius: 5px;
  background-color: rgb(242, 235, 235);
}

button,
.header-login-a {
  padding: 5px 10px;
  border: none;
  border-radius: 3px;
  background-color: rgb(40, 133, 170);
  color: #fff;
}

.menu-main {
  margin-left: 40px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
}

.menu-member {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
}

.index-login {
  min-height: 300px;
  padding: 50px 0 50px;
  /* background-color: #5f5a5a; */
}

.index-login-signup {
  width: 320px;
  padding-left: 10px;
  border-left: 3px solid skyblue;
}

.index-login-signup h4,
.index-login-signup p {
  color: #000;
}

.index-login-login {
  width: 320px;
  padding: 20px;
  text-align: center;
  border-radius: 5px;
  background-color: #1e1e1e;
}

.index-login-login h4,
.index-login-login p {
  color: #fff;
}
